In [34]:
import pandas as pd

In [35]:
df = pd.read_csv('auto_policy_profile.csv')
df.head()

  Policy ID Customer Name  Gender Payment Frequency Payment Mode
0      P001  Rahul Sharma       M           Monthly  Credit Card
1      P002   Ananya Iyer       F             MTHLY          upi
2      P003    Amit Kumar    male            Annual  Net Banking
3      P004    Neha Verma  FEMALE            Yearly  credit card
4      P005  Vikram Singh       M           monthly   Debit card

In [36]:
df.shape

(15, 5)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Policy ID          15 non-null     object
 1   Customer Name      15 non-null     object
 2   Gender             15 non-null     object
 3   Payment Frequency  15 non-null     object
 4   Payment Mode       15 non-null     object
dtypes: object(5)
memory usage: 728.0+ bytes

In [38]:
df.rename(columns={
    'Policy ID': 'Policy_Number',
    'Customer Name': 'Customer_Name',
    'Payment Frequency': 'Payment_Frequency',
    'Payment Mode': 'Payment_Mode'
}, inplace=True)

df.head()

  Policy_Number Customer_Name  Gender Payment_Frequency Payment_Mode
0          P001  Rahul Sharma       M           Monthly  Credit Card
1          P002   Ananya Iyer       F             MTHLY          upi
2          P003    Amit Kumar    male            Annual  Net Banking
3          P004    Neha Verma  FEMALE            Yearly  credit card
4          P005  Vikram Singh       M           monthly   Debit card

In [39]:
unique_values = sorted(df['Gender'].unique())
print('Gender',unique_values)

Gender ['F', 'FEMALE', 'Female', 'M', 'Male', 'f', 'm', 'male']

In [40]:
gender_mapping = {
    "m": "MALE", 
    "male": "MALE",  
    "f": "FEMALE",
    "female": "FEMALE"
}
df['Gender'] = df['Gender'].str.lower().map(gender_mapping)
unique_values = sorted(df['Gender'].unique())
print('Gender',unique_values)

Gender ['FEMALE', 'MALE']

In [41]:
unique_values = sorted(df['Payment_Frequency'].unique())
print('Payment_Frequency', unique_values)

Payment_Frequency ['Annual', 'Half-Yearly', 'MONTHLY', 'MTHLY', 'Monthly', 'Mthly', 'QUARTERLY', 'YEARLY', 'Yearly', 'monthly', 'quarterly', 'yearly']

In [42]:
Payment_Frequency_mapping = {
    "yearly": "ANNUAL", 
    "annual": "ANNUAL", 
    "monthly": "MONTHLY",
    "mthly": "MONTHLY", 
    "quarterly": "QUARTERLY", 
    "half-yearly": "HALF-YEARLY"
}
df['Payment_Frequency'] = df['Payment_Frequency'].str.lower().map(Payment_Frequency_mapping)
df['Payment_Frequency']
unique_values = sorted(df['Payment_Frequency'].unique())
print('Payment_Frequency',unique_values)

Payment_Frequency ['ANNUAL', 'HALF-YEARLY', 'MONTHLY', 'QUARTERLY']

In [43]:
unique_values = sorted(df['Payment_Mode'].unique())
print('Payment_Mode', unique_values)

Payment_Mode ['CREDIT CARD', 'Cash Payment', 'Credit Card', 'Credit card Payment', 'DEBIT card', 'Debit card', 'Net Banking', 'Net banking', 'UPI', 'UPI transfer', 'cash', 'credit card', 'debit Card', 'net banking', 'upi']

In [44]:
Payment_Mode_mapping = {
    "credit card": "CREDIT CARD", 
    "credit card payment": "CREDIT CARD", 
    "debit card": "DEBIT CARD", 
    "upi": "UPI",
    "upi transfer": "UPI", 
    "net banking": "NET BANKING", 
    "cash payment": "CASH",
    "cash": "CASH"
}
df['Payment_Mode'] = df['Payment_Mode'].str.lower().map(Payment_Mode_mapping)
df['Payment_Mode']
unique_values = sorted(df['Payment_Mode'].unique())
print('Payment_Mode',unique_values)

Payment_Mode ['CASH', 'CREDIT CARD', 'DEBIT CARD', 'NET BANKING', 'UPI']